Source: redsea
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Rules-Requires-Root: no
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 12.0), autoconf, automake, libliquid-dev, libsndfile1-dev
Vcs-Browser: https://github.com/windytan/redsea
Vcs-Git: https://github.com/windytan/redsea.git

Package: redsea
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RDS decoder for the command line
